<html>
	<link rel='redirect_uri' href='/redirect'>
	<h1>
		This is a index page
	</h1>
	<div class='h-app'>
		<a href="/" class="u-url p-name">Misskey art Explorer</a>
	</div>
	<div>
		<a href={{.authorization_url}}>Authroization</a>
		<p>client ID: {{.client_id}}</p>
		<p>reduirect uri: {{.redirect_uri}}</p>
		<p>scope: {{.scope}}</p>
		<p>code_verifier: {{.code_verifier}}</p>
	</div>
</html>